/* .form-selection{
  width: fit-content;
} */

.form-selection .bnm-card.card.form-listing-card,
.form-selection .bnm-card.card.selected-form-card {
	height: 80vh;
}

.form-list-accordion {
	height: 60vh;
	overflow: auto;
	/* border-bottom: 1px var(--msf-border) solid !important; */
}

.accordion > .card.bnm-card.sub-card {
	margin: 0 !important;
	border: 1px var(--msf-border) solid !important;
}

.bnm-card .card-header.form-grp-header {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.125);
	padding: 0.8rem 1.5rem !important;
}

.bnm-card.sub-card .card-header.form-grp-header:hover {
	border-bottom: 4px solid var(--msf-primary) !important;
}

.bnm-card.sub-card .form-grp-header-clicked {
	border-bottom: 4px solid var(--msf-primary) !important;
}

.bnm-card.sub-card .form-grp-sub-card {
	border: 0 !important;
}

/* form card stylling */

.card.sub-card.form-select-card {
	border: none !important;
}

.card .form-select-card:hover {
	cursor: pointer;
	background-color: var(--msf-sidebar-background);
}

.card .form-select-card .card-body.show {
	border-color: var(--msf-secondary) !important;
}

.bnm-card.card .form-check-icon {
	visibility: hidden;
	color: var(--msf-success);
	position: absolute;
	bottom: 10%;
	right: 5%;
}

.bnm-card.card .form-check-icon.show {
	visibility: visible;
}

/* reset icon styling */

.icon-button.rct-reset-btn {
	cursor: pointer;
	filter: grayscale(100%) opacity(0.7);
}

.icon-button.rct-reset-btn:hover {
	filter: grayscale(0%) opacity(1);
}

/* edit form selection styling */

.edit-form-selection {
	height: 60vh;
	overflow: auto;
}

.edit-form-selection li {
	font-weight: bold;
}

div.edit-select-form-label:hover,
div.edit-select-form-grp-label:hover {
	cursor: pointer;
	background-color: var(--msf-border);
}

.edit-form-selection .far,
.edit-form-selection .fas {
	filter: grayscale(100%) opacity(0.7);
}

.edit-form-selection .far:hover,
.edit-form-selection .fas:hover {
	filter: grayscale(0%) opacity(1);
}

/* custom scrollbar */

/* width */

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

/* Track */

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
	background: #00000000;
	border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
